name: Mobile CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'mobile-app/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'mobile-app/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./mobile-app

    steps:
    - uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        # flutter-version: '3.19.0' # Optional: Specify version if needed

    - name: Install dependencies
      run: flutter pub get

    - name: Analyze
      run: flutter analyze

    - name: Test
      run: flutter test

    - name: Build APK (Debug)
      run: flutter build apk --debug
